In [41]:
import sqlite3
from sqlite3 import Error

def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


create_trip_table = """
CREATE TABLE IF NOT EXISTS trip_data(
timestamp INTEGER NOT NULL,
lat NUMERIC (5, 2) NOT NULL CHECK (lat>= -90.0 AND lat<= 90.0),
lon NUMERIC (5, 2) NOT NULL CHECK (lon>= -180.0 AND lon<= 180.0),
elev NUMERIC(7, 2) NOT NULL,
speed NUMERIC(6, 2) NOT NULL,
km INTEGER NOT NULL CHECK (km>= 0.0),
current_country TEXT NOT NULL,
current_step INTEGER NOT NULL CHECK (current_step>= 0),
PRIMARY KEY(timestamp)
);
        """
connection = create_connection(r"D:\sources\perso\TripOverview\prototype\data\test_creation.db")
execute_query(connection, create_trip_table)

import numpy as np
val = [(1618754065+i*2000,
        np.random.uniform(low=-90.0, high=90.0, size=(1,))[0],
        np.random.uniform(low=-180.0, high=180.0, size=(1,))[0],
        np.random.uniform(low=-100.0, high=2000.0, size=(1,))[0],
        np.random.uniform(low=0.0, high=30.0, size=(1,))[0],
       i*0.01,
       "France",
       i) for i in range(0, 2000)]

values = ', '.join(map(str, val))
sql = """INSERT INTO trip_data (timestamp, lat, lon, elev, speed, km, current_country, current_step) VALUES (?, ?, ?, ?, ?, ?, ?, ?) """
cursor = connection.cursor()
cursor.executemany(sql, val)
connection.commit()

2.6.0
Query executed successfully

In [35]:
import sqlite3
from sqlite3 import Error

def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


create_trip_table = """
CREATE TABLE IF NOT EXISTS trip_data(
timestamp INTEGER NOT NULL,
lat NUMERIC (5, 2) NOT NULL CHECK (lat>= -90.0 AND lat<= 90.0),
lon NUMERIC (5, 2) NOT NULL CHECK (lon>= -180.0 AND lon<= 180.0),
elev NUMERIC(7, 2) NOT NULL,
speed NUMERIC(6, 2) NOT NULL,
km INTEGER NOT NULL CHECK (km>= 0.0),
current_country TEXT NOT NULL,
current_step INTEGER NOT NULL CHECK (current_step>= 0),
PRIMARY KEY(timestamp)
);
        """
connection = create_connection(r"D:\sources\perso\TripOverview\prototype\data\sleeping_positions.db")
execute_query(connection, create_trip_table)

import numpy as np
val = [(1618754065+i*20000,
        np.random.uniform(low=-90.0, high=90.0, size=(1,))[0],
        np.random.uniform(low=-180.0, high=180.0, size=(1,))[0],
        np.random.uniform(low=-100.0, high=2000.0, size=(1,))[0],
        np.random.uniform(low=0.0, high=30.0, size=(1,))[0],
        i*0.01,
        "France",
        int(i*0.01)) for i in range(0, 1000)]

values = ', '.join(map(str, val))
sql = """INSERT INTO trip_data (timestamp, lat, lon, elev, speed, km, current_country, current_step) VALUES (?, ?, ?, ?, ?, ?, ?, ?) """
cursor = connection.cursor()
cursor.executemany(sql, val)
connection.commit()

connection.close()

2.6.0
Query executed successfully

IntegrityError: UNIQUE constraint failed: trip_data.timestamp

In [1]:
import sqlite3
from sqlite3 import Error

def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


create_trip_table = """
CREATE TABLE IF NOT EXISTS trip_data(
timestamp INTEGER NOT NULL,
lat NUMERIC (5, 2) NOT NULL CHECK (lat>= -90.0 AND lat<= 90.0),
lon NUMERIC (5, 2) NOT NULL CHECK (lon>= -180.0 AND lon<= 180.0),
elev NUMERIC(7, 2) NOT NULL,
speed NUMERIC(6, 2) NOT NULL,
km INTEGER NOT NULL CHECK (km>= 0.0),
current_country TEXT NOT NULL,
current_step INTEGER NOT NULL CHECK (current_step>= 0),
PRIMARY KEY(timestamp)
);
        """
connection = create_connection(r"D:\sources\perso\TripOverview\prototype\data\gps_trace.db")
execute_query(connection, create_trip_table)

import numpy as np
val = [(1618754065+i*20000,
        np.random.uniform(low=-90.0, high=90.0, size=(1,))[0],
        np.random.uniform(low=-180.0, high=180.0, size=(1,))[0],
        np.random.uniform(low=-100.0, high=2000.0, size=(1,))[0],
        np.random.uniform(low=0.0, high=30.0, size=(1,))[0],
        i*1,
        "France",
        int(i*0.5)) for i in range(0, 10)]

values = ', '.join(map(str, val))
sql = """INSERT INTO trip_data (timestamp, lat, lon, elev, speed, km, current_country, current_step) VALUES (?, ?, ?, ?, ?, ?, ?, ?) """
cursor = connection.cursor()
cursor.executemany(sql, val)
connection.commit()

connection.close()

2.6.0
Query executed successfully

In [127]:
import pandas as pd
connection = create_connection(r"D:\sources\perso\TripOverview\prototype\data\gps_trace.db")
gps_trace = pd.read_sql_query('''SELECT * from trip_data''', connection)
gps_trace
connection.close()
gps_trace

2.6.0

,timestamp,lat,lon,elev,speed,km,current_country,current_step
0,1618754065,46.585690,149.626169,1790.504594,26.220505,0,France,0
1,1618774065,-53.466024,12.330116,738.157346,22.418717,1,France,0
2,1618794065,0.321533,80.680022,430.000766,17.041642,2,France,1
3,1618814065,47.971769,-149.340396,1443.051242,9.211371,3,France,1
4,1618834065,-20.317644,13.638293,1325.008097,9.782642,4,France,2
5,1618854065,32.770346,-138.480204,715.500146,13.834359,5,France,2
6,1618874065,59.453815,29.261395,1662.186589,21.320583,6,France,3
7,1618894065,-79.759787,-76.364474,511.364911,14.249498,7,France,3
8,1618914065,25.749972,135.907551,45.305008,9.944598,8,France,4
9,1618934065,-54.490753,-27.810301,1392.140417,22.586050,9,France,4

In [128]:
# Resample by time and interpolate linearly
gps_trace['timestamp'] = pd.to_datetime(gps_trace['timestamp'], unit='s')
#gps_trace = gps_trace.resample("60S", on="timestamp").mean()
# Reset the timestamp indexed
#gps_trace.reset_index(drop=False, inplace=True)

gps_trace.drop(gps_trace[gps_trace.speed < 10.0].index, inplace=True)
# Interpolate the correct columns
gps_trace[["lat", "lon", "elev", "speed", "km"]] = gps_trace[["lat", "lon", "elev", "speed", "km"]].interpolate(
    method='linear')
gps_trace["current_step"].fillna(method='ffill', inplace=True)
#gps_trace["current_country"].fillna(method='ffill', inplace=True)
gps_trace["current_step"] = gps_trace["current_step"].astype('int64')
# Set current_step as index
gps_trace = gps_trace.set_index(['current_step'])
gps_trace

,timestamp,lat,lon,elev,speed,km,current_country
current_step,,,,,,,
0,2021-04-18 13:54:25,46.585690,149.626169,1790.504594,26.220505,0,France
0,2021-04-18 19:27:45,-53.466024,12.330116,738.157346,22.418717,1,France
1,2021-04-19 01:01:05,0.321533,80.680022,430.000766,17.041642,2,France
2,2021-04-19 17:41:05,32.770346,-138.480204,715.500146,13.834359,5,France
3,2021-04-19 23:14:25,59.453815,29.261395,1662.186589,21.320583,6,France
3,2021-04-20 04:47:45,-79.759787,-76.364474,511.364911,14.249498,7,France
4,2021-04-20 15:54:25,-54.490753,-27.810301,1392.140417,22.586050,9,France

In [138]:
print((gps_trace.loc[3]["lat"].values[0]))

59.45381512533035

In [43]:
def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


create_trip_table = """
CREATE TABLE IF NOT EXISTS trip_data(
timestamp INTEGER NOT NULL,
lat NUMERIC (5, 2) NOT NULL CHECK (lat>= -90.0 AND lat<= 90.0),
lon NUMERIC (5, 2) NOT NULL CHECK (lon>= -180.0 AND lon<= 180.0),
elev NUMERIC(7, 2) NOT NULL,
speed NUMERIC(6, 2) NOT NULL,
km INTEGER NOT NULL CHECK (km>= 0.0),
current_country TEXT NOT NULL,
current_step INTEGER NOT NULL CHECK (current_step>= 0),
PRIMARY KEY(timestamp)
);
        """
connection = create_connection(r"D:\sources\perso\TripOverview\prototype\data\database_exists.db")
execute_query(connection, create_trip_table)

import numpy as np
val = [(1, 45.0, 3.0, 10.0, 30.0, 10.0, "France", 1)]
values = ', '.join(map(str, val))
sql = """INSERT INTO trip_data (timestamp, lat, lon, elev, speed, km, current_country, current_step) VALUES (?, ?, ?, ?, ?, ?, ?, ?) """
cursor = connection.cursor()
cursor.executemany(sql, val)
connection.commit()

2.6.0
Query executed successfully

In [55]:
def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


create_trip_table = """
CREATE TABLE IF NOT EXISTS trip_data(
timestamp INTEGER NOT NULL,
lat NUMERIC (5, 2) NOT NULL CHECK (lat>= -90.0 AND lat<= 90.0),
lon NUMERIC (5, 2) NOT NULL CHECK (lon>= -180.0 AND lon<= 180.0),
elev NUMERIC(7, 2) NOT NULL,
speed NUMERIC(6, 2) NOT NULL,
km INTEGER NOT NULL CHECK (km>= 0.0),
current_country TEXT NOT NULL,
current_step INTEGER NOT NULL CHECK (current_step>= 0),
PRIMARY KEY(timestamp)
);
        """
connection = create_connection(r"D:\sources\perso\TripOverview\prototype\data\with_last_step.db")
execute_query(connection, create_trip_table)

import numpy as np
val = [(i, 45.0, 3.0, 10.0, 30.0, 10.0, "France", round(i*0.5)) for i in range(5)]
values = ', '.join(map(str, val))
sql = """INSERT INTO trip_data (timestamp, lat, lon, elev, speed, km, current_country, current_step) VALUES (?, ?, ?, ?, ?, ?, ?, ?) """
cursor = connection.cursor()


try:
    cursor.executemany(sql, val)
except Error as e:
    print(e)
    
connection.commit()

2.6.0
Query executed successfully

In [5]:
import sqlite3
from sqlite3 import Error

def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


create_trip_table = """
CREATE TABLE IF NOT EXISTS trip_data(
timestamp INTEGER NOT NULL,
lat NUMERIC (5, 2) NOT NULL CHECK (lat>= -90.0 AND lat<= 90.0),
lon NUMERIC (5, 2) NOT NULL CHECK (lon>= -180.0 AND lon<= 180.0),
elev NUMERIC(7, 2) NOT NULL,
speed NUMERIC(6, 2) NOT NULL,
km INTEGER NOT NULL CHECK (km>= 0.0),
current_country TEXT NOT NULL,
current_step INTEGER NOT NULL CHECK (current_step>= 0),
PRIMARY KEY(timestamp)
);
        """
connection = create_connection(r"describe.db")
execute_query(connection, create_trip_table)

import numpy as np
val = [(1, 49.06597195612707, 1.9915434432537633, 10.0, 30.0, 10.0, "France", 0),
      (2, 49.069458426959585, 2.0623537554957014, 10.0, 30.0, 10.0, "France", 1)]
values = ', '.join(map(str, val))
sql = """INSERT INTO trip_data (timestamp, lat, lon, elev, speed, km, current_country, current_step) VALUES (?, ?, ?, ?, ?, ?, ?, ?) """
cursor = connection.cursor()


cursor.executemany(sql, val)

    
connection.commit()

2.6.0
Query executed successfully

In [9]:
import sqlite3
from sqlite3 import Error

def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


create_trip_table = """
CREATE TABLE IF NOT EXISTS trip_data(
timestamp INTEGER NOT NULL,
lat NUMERIC (5, 2) NOT NULL CHECK (lat>= -90.0 AND lat<= 90.0),
lon NUMERIC (5, 2) NOT NULL CHECK (lon>= -180.0 AND lon<= 180.0),
elev NUMERIC(7, 2) NOT NULL,
speed NUMERIC(6, 2) NOT NULL,
km INTEGER NOT NULL CHECK (km>= 0.0),
current_country TEXT NOT NULL,
current_step INTEGER NOT NULL CHECK (current_step>= 0),
PRIMARY KEY(timestamp)
);
        """
connection = create_connection(r"describe.db")
execute_query(connection, create_trip_table)

import numpy as np
val = [(1, 49.06597195612707, 1.9915434432537633, 10.0, 30.0, 10.0, "France", 0),
      (2, 49.069458426959585, 2.0623537554957014, 10.0, 30.0, 10.0, "France", 1)]
sql = """INSERT INTO trip_data (timestamp, lat, lon, elev, speed, km, current_country, current_step) VALUES (?, ?, ?, ?, ?, ?, ?, ?) """
cursor = connection.cursor()


cursor.executemany(sql, val)

    
connection.commit()

2.6.0
Query executed successfully

In [31]:
from OverviewDatabase import OverviewDatabase
import folium
import branca
import base64
import folium.plugins

def create_site(trip_data: OverviewDatabase, site_folder: str, date, url):
    gps_trace = trip_data.get_road_trip_gps_trace()
    center_of_map = tuple(gps_trace.tail(1)[["latitude", "longitude"]].iloc[0].values.tolist())
    whole_trip_trace = gps_trace[["latitude", "longitude"]]
    map_to_plot = folium.Map(center_of_map, zoom_start=10, tiles=url, attr="Capsule map")

    # TODO Handle case where the sub step trace length is not > 1
    for current_step_trace_idx in range(gps_trace.index.values[-1]):
        current_step_trace = gps_trace.loc[current_step_trace_idx]
        if len(current_step_trace) > 1:
            distance_traveled_in_step = 0
            for km_idx in range(1, len(current_step_trace["km"])):
                distance_traveled_in_step += current_step_trace["km"][km_idx] - current_step_trace["km"][km_idx - 1]
            date = current_step_trace["date"][0].day
            gif = "test.gif" # TODO
            tooltip_html = '<h1>{date}</h1><p>Etape {step}</p><p>Distance parcourue {distance} km</p><img src={gif}>'\
                .format(date=distance_traveled_in_step,
                        step=current_step_trace_idx,
                        distance=distance_traveled_in_step,
                        gif=gif)
            folium.plugins.AntPath(
                locations=current_step_trace,
                dash_array=[10, 15],
                delay=800,
                weight=6,
                color="#F6FFF3",
                pulse_color="#000000",
                paused=False,
                reverse=False,
                tooltip=tooltip_html
            ).add_to(map_to_plot)

    marker_cluster = folium.plugins.MarkerCluster(name='Photos during the trip').add_to(map_to_plot)
    marker_cluster_steps = folium.FeatureGroup(name="Etapes du voyage").add_to(map_to_plot)


    kw = {"prefix": "fa", "color": "green", "icon": "camera"}
    # Create photos marker
    # TODO get from instagram

    kw = {"prefix": "fa", "color": "blue", "icon": "bed"}
    # Create sleep steps
    sleep_steps = trip_data.get_sleeping_locations()
    for i in range(len(sleep_steps)):
        html = '<h1>{date}</h1><p>Etape {step}</p><p>Distance parcourue {distance} km</p>' \
               '<p>Coordonn√©e GPS: {lat}, {lon}</p>'.format(date=sleep_steps["date"].iloc[i].day,
                                                            step=sleep_steps["current_step"].iloc[i].value,
                                                            distance=sleep_steps["km"].iloc[i].value,
                                                            lat=sleep_steps["latitude"].iloc[i].value,
                                                            lon=sleep_steps["longitude"].iloc[i].value)
        icon = folium.Icon(**kw)
        folium.Marker(location=sleep_steps[["latitude", "longitude"]][i], icon=icon, tooltip=html).add_to(marker_cluster_steps)


    folium.LayerControl(collapsed=False).add_to(map_to_plot)

    folium.plugins.LocateControl().add_to(map_to_plot)

    folium.plugins.Fullscreen(
        title="Agrandir",
        title_cancel="Annuler",
        force_separate_button=True,
    ).add_to(map_to_plot)

    # Limit bounds
    map_to_plot.fit_bounds(map_to_plot.get_bounds())

    map_to_plot.save(site_folder+date+".html")

import datetime
trip_data = OverviewDatabase()
trip_data.connect_to_database("/var/opt/trip_overview/trip_database.db", True)
create_site(trip_data, ".", "2020", "http://localhost:8080/styles/klokantech-basic/{z}/{x}/{y}.png")