In [35]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn


if __name__ == '__main__':
    connection = create_connection(r"D:\sources\perso\TripOverview\prototype\data\pythonsqlite.db")

2.6.0

In [39]:
def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        if data != None:
            cursor.execute(query, data)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [40]:
create_users_table = """
CREATE TABLE IF NOT EXISTS trip_geo (
  timestamp INTEGER PRIMARY KEY,
  lat FLOAT LATITUDE,
  lon FLOAT LONGITUDE
);
"""
execute_query(connection, create_users_table)

Query executed successfully

In [43]:
insert_stmt = (
  "INSERT INTO trip_geo (timestamp, lat, lon) "
  "VALUES (?, ?, ?)"
)
data = (1200, 45.0, 35.0)
execute_query(connection, insert_stmt, data)

Query executed successfully

In [23]:
val = [(timestamp, 45.0*timestamp/1600000, 35.0*timestamp/1600000) for timestamp in range(1700002, 1700002+1000000)]
values = ', '.join(map(str, val))
sql = """INSERT INTO trip_geo (timestamp, lat, lon) VALUES (?, ?, ?) """
cursor = connection.cursor()
cursor.executemany(sql, val)
connection.commit()

In [44]:
connection.close()